﻿@using Microsoft.AspNetCore.Components.Routing


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SpeakMentorship</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <NavLink class="nav-link" href="mentors">Match </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="chats">Mentorship</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="request">Request</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="request/student">Request(MentorPointOfView)</NavLink>
            </li>
          

        </ul>
        <form class="form-inline my-2 my-lg-0">

          
            <div class="px-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
          
            @if (authState.User.Identity.IsAuthenticated)
            {
               
                <li class="nav-item">
                    <a class="nav-link text-dark" title="Manage">Hello @authState.User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Logout</a>
                </li>
            }
            else
            {

        <div>
            <a href="/login">Log In </a> <a class="px-2 text-muted">|</a> <a href="/register">Register</a>
        </div>

            }
        </form>
    </div>
</nav>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public AuthenticationState authState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UserState();
    }
    private async Task UserState()
    {
        authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{user.Identity.Name} is authenticated.");
        }
        else
        {
            Console.WriteLine("The user is NOT authenticated.");
        }
    }
}
