﻿<div class="container-fluid">
    <div class="row justify-content-center">
        @* navbar for the video chatroom *@
    </div>
    <div class="row">
       @ChildContent
    </div>
    </div>

@code {
    //This component will recive the actual video chat component
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
