﻿<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="card">
        <img class="img-fluid" alt="dashboard-user" src="@ImageUrl">
        <div class="card-block">

            <h5>@Title</h5>
            <span class="text-muted">@SubTitle</span>
            @if (ProgressBarEnabled)
            {
                <h6 class="m-b-0 mt-3">Progress <span class="float-right">@ProgressBarValue%</span></h6>
                <div class="progress m-t-10" style="height:7px;">
                    <div class="progress-bar progress-c-theme" role="progressbar" aria-valuenow="@ProgressBarValue" aria-valuemin="0" aria-valuemax="100" style="width: @ProgressBarValue%;"></div>
                </div>
            }

            @ChildContent
        </div>
    </div> 
</div>

    @code {
        [Parameter]
        public RenderFragment ChildContent { get; set; }
        [Parameter]
        public string Title { get; set; } = string.Empty;
           [Parameter]
        public string SubTitle { get; set; } = string.Empty;
           [Parameter]
        public string ImageUrl { get; set; } = string.Empty;
           [Parameter]
        public bool ProgressBarEnabled { get; set; } = false;
           [Parameter]
        public int ProgressBarValue { get; set; } = 85;
    }
