﻿<div class="card table-card">
    <div class="row-table">
        @if (ImageLeft)
        {
            <div class="col-auto  text-white p-2">
                <img style="max-width:131px;" src="@ImageUrl" />

            </div>
            <div class="col text-center">
                <h3 class="f-w-300">@Title</h3>
                <span class="text-uppercase d-block m-b-10">@Subtitle</span>

            </div>
        }
        else
        {

            <div class="col text-center">
                <h3 class="f-w-300">@Title</h3>
                <span class="text-uppercase d-block m-b-10">@Subtitle</span>
                @ChildContent
            </div>
            <div class="col-auto  text-white p-2">
                <img style="max-width:131px;" src="@ImageUrl" />

            </div>
        }

    </div>
</div>

@code {
          [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Title { get; set; } = string.Empty;
     [Parameter]
    public string Subtitle { get; set; } = string.Empty;
     [Parameter]
    public string ImageUrl { get; set; } = string.Empty;
     [Parameter]
    public bool ImageLeft { get; set; } = true;
}
