﻿@page "/login"
@layout DattaAbleLogInLayout
@inject IJSRuntime JsRuntime;
@inject IUriHelper UriHelper
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject FirebaseJsService _firebaseService
@*<div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>*@


<LogInForm _validation="@model" OnValidCallback="@FirebaseLogin" ThirdPartyLogInCallback="@GoogleSignInPopup"></LogInForm>



@code {
    protected LogInFormValidationModel model = new LogInFormValidationModel();
    protected override async void OnAfterRender()
    {
        try
        {
            // var result = await JsRuntime.InvokeAsync<Task>("exampleJsFunctions.firebaseUiInit","/","/404");
        }
        catch
        {

        }
    }

    private async Task GoogleSignInPopup()
    {
        await _firebaseService.SignInWithGooglePopup();

    }

    private async Task FirebaseLogin()
    {
        await _firebaseService.SignIn(new BaseUser { Email = model.Email, Password = model.Password });
        //var result = await JsRuntime.InvokeAsync<BaseUser>("exampleJsFunctions.firebaseSigninUser", model.Email, model.Password);

        //Console.WriteLine("Here is the user token: " + result);
    }


    public async Task<bool> LogInUser()
    {
        var user = await UserManager.FindByEmailAsync(model.Email);

        if (user == null)
        {
            return false;
        }

        var preSignInResult = await SignInManager.CheckPasswordSignInAsync(user, model.Password, false);
        if (!preSignInResult.Succeeded)
        {
            return preSignInResult.Succeeded;
        }

        try
        {
            var signInResult = await SignInManager.PasswordSignInAsync(user.UserName, model.Password, model.RememberMe, false);
            if (signInResult.Succeeded)
            {
                return signInResult.Succeeded;
            }
            else
            {
                return signInResult.Succeeded;
            }
        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }

        return false;
    }
}
