﻿@page "/register"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IJSRuntime JsRuntime
@inject IUriHelper UriHelper
@inject  FirebaseAdminService _firebase;

<SmartWizardComponent></SmartWizardComponent>
@*<Register _validation="@model" OnValidCallback="@RegisterUser"></Register>
<RegisterForm></RegisterForm>*@

@code {
    public RegisterValidationModel model = new RegisterValidationModel();

    public async Task<bool> RegisterUser()
    {
        var newUser = model;
      

        return await _firebase.CreateUser( new BaseUser { 
           Email = newUser.Email,
            EmailVerified = false,
            PhoneNumber = "+1787-559-6610",
            Password = newUser.Password,
            DisplayName = newUser.FirstName+" "+newUser.LastName,
            PhotoUrl = "http://www.example.com/12345678/photo.png",
            Disabled = false,
        });

    }

    public async void FireAlert()
    {
        var alertOption = new SweetAlertOption
        {
            Title = "Account Created",
            Text = "Your account have been created, try to log in.",
            Type = "success",
            ShowCancelButton = false,
            ConfirmButtontext = "Ok",
            CancelButtonText = "Cancel"
        };


        var result = await JsRuntime.InvokeAsync<string>("exampleJsFunctions.sweetAlert",
                                               alertOption.Title,
                                               alertOption.Text,
                                                alertOption.Type,
                                                alertOption.ShowCancelButton,
                                                alertOption.ConfirmButtontext,
                                                alertOption.CancelButtonText);

        UriHelper.NavigateTo("/login");
    }



}
