﻿
@using SpeakMentorship.ComponentLibrary.Components.SyncfusionComponents.CircularGaugeComponent

@inject IUriHelper UriHelper

<ul class="list-group list-group-flush">
    <li class="list-group-item">

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link @_cssGeneralActive " @onclick="@(()=> ToggleView("general"))">Mentorship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @_cssSessionsActive" @onclick="@(() => ToggleView("sessions"))">Sessions</a>
                    </li>
                    <li class="nav-item">
                        @if (isMentor)
                        {
                            <a class="nav-link @_cssParticipantActive"  @onclick="@(() => ToggleView("participant"))">Mentee</a>
                        }
                        else
                        {
                            <a class="nav-link @_cssParticipantActive" @onclick="@(() => ToggleView("participant"))">Mentor</a>
                        }
                    </li>
                </ul>
            </div>
            @if (_selection == "general")
            {
                <div class="card-body">
                    <h5 class="card-title">Artificial Intelligence</h5>
                    <p class="card-text">Learn everything about AI.</p>
                    <a href="videochat/session4" class="btn btn-primary">Attend Session</a>
                </div>
            }
            else if (_selection == "sessions")
            {
        <div class="row">
            <div class="col-4">
                <div class="p-3">
                    <div class="media">
                        <img src="@src" style="width:100px; height:75px;" class="align-self-start mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Lorenzo Hal</h5>
                            <p>University of California</p>
                            <button class="btn btn-primary ">Send Message</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="list-group col ">

                <button type="button" class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(()=>GoToRoom("sessionId1") )">Session 1 <span class="badge badge-success badge-pill">Attended</span></button>
                <button type="button" class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(()=>GoToRoom("sessionId2") )">Session 2 <span class="badge badge-success badge-pill">Attended</span></button>
                <button type="button" class="list-group-item d-flex justify-content-between align-items-center" disabled>Session 3 <span class="badge badge-danger badge-pill">Missed</span></button>
                <button type="button" class="list-group-item d-flex justify-content-between align-items-center" @onclick="@(()=>GoToRoom("sessionId4") )">Session 4<span class="badge badge-warning badge-pill">Upcoming</span></button>
            </div>
        </div>
            }
            else if (_selection == "participant")
            {
                <div class="row p-3">
                    <div class="col-6">
                        <div class="media">
                            <img src="@src" style="width:64px; height:64px;" class="align-self-start mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Lorenzo Hal</h5>
                                <p>University of California</p>
                                <button class="btn btn-primary ">Send Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h5>Rate mentorship:</h5>
                        <div class="col-12">
                            rgyttktykuyhu
                        </div>
                    </div>
                </div>
            }
            <div class="card-footer">
                <p class="card-text text-muted">Next session: Today</p>

            </div>
        </div>


    </li>

</ul>






@code {
    private string _cssGeneralActive = "active";
    private string _cssSessionsActive = "active";
    private string _cssParticipantActive = "active";
    private string _selection = "general";

    public string src { get; set; } = "https://hackernoon.com/hn-images/1*Y0UYuGcFGSCfs5Eexafq6A.png";
    [Parameter]
    public bool isMentor { get; set; } = false;


    protected override void OnInitialized()
    {
        ClearActive();
        ToggleView("general");
    }
    public void ClearActive()
    {
        _cssGeneralActive = "";
        _cssSessionsActive = "";
        _cssParticipantActive = "";

    }

    public void ToggleView(string view)
    {
        ClearActive();
        if (view == "general")
        {
            _cssGeneralActive = "active";
        }
        else if (view == "sessions")
        {
            _cssSessionsActive = "active";
        }
        else if (view == "participant")
        {
            _cssParticipantActive = "active";
        }
        _selection = view;
    }

    public void GoToRoom(string room)
    {
        UriHelper.NavigateTo("videochat/"+room);
    }

}
