﻿@using Syncfusion.EJ2.Blazor.CircularGauge
@using Newtonsoft.Json;
<div class="control-section">
    <EjsCircularGauge CenterY="57%" >
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="200" EndAngle="130" Minimum="0" Maximum="100" Radius="90%">
                <CircularGaugeAxisLineStyle Width="0.001" Color="#1d1d1d">
                </CircularGaugeAxisLineStyle>
                <CircularGaugeAxisMajorTicks Width="0.01">
                </CircularGaugeAxisMajorTicks>
                <CircularGaugeAxisMinorTicks Width="0.01">
                </CircularGaugeAxisMinorTicks>
                <CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLabelFont Size="0px"></CircularGaugeAxisLabelFont>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugePointers >
                   
                    @* image at start *@
               
                </CircularGaugePointers>
                <CircularGaugeRanges>
                   
                   
                    <CircularGaugeRange Start="0" End="14" Radius="55%" Color="#ee4266" StartWidth="25" EndWidth="25">
                    </CircularGaugeRange>
                </CircularGaugeRanges>
                <CircularGaugeAnnotations>
                  
                 
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </EjsCircularGauge>
</div>


<div class="control-section">
    <EjsCircularGauge>
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="300" EndAngle="60" Minimum="@MinValue" Maximum="@MaxValue" Radius="80%">
                <CircularGaugeAxisLineStyle Width="0.01">
                </CircularGaugeAxisLineStyle>
                <CircularGaugeAxisMajorTicks Width="0.01">
                </CircularGaugeAxisMajorTicks>
                <CircularGaugeAxisMinorTicks Width="0.01">
                </CircularGaugeAxisMinorTicks>
                <CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLabelFont Size="0px">
                    </CircularGaugeAxisLabelFont>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugePointers>
                    <CircularGaugePointer Type="PointerType.RangeBar" Value="@GaugeValue" Radius="90%" Color="#FFDD00" PointerWidth="30">
                        <CircularGaugePointerAnimation Enable="@enabledAnimation" Duration="0">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    @if (showPointer)
                    {
                        <CircularGaugePointer Value=1800 Radius="90%" Color="#424242" PointerWidth="9">
                            <CircularGaugePointerAnimation Enable="false" Duration="0">
                            </CircularGaugePointerAnimation>
                            <CircularGaugeCap Radius="10" Color="#424242">
                                <CircularGaugeCapBorder Width="0">
                                </CircularGaugeCapBorder>
                            </CircularGaugeCap>
                        </CircularGaugePointer>
                    }

                    <CircularGaugeRanges>
                        <CircularGaugeRange Start="1000" End="2000" Radius="90%" StartWidth="30" EndWidth="30" Color="#E0E0E0">
                        </CircularGaugeRange>
                    </CircularGaugeRanges>
                </CircularGaugePointers>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Angle="0" Radius="110%" ZIndex="1">
                        <ContentTemplate>
                            <div id="gauge" style='color:#666666;font-size:35px; margin-left:-40px; margin-top:-20px'>@GaugeValue</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </EjsCircularGauge>
</div>

@code {
    [Parameter]
    public bool showPointer { get; set; } = false;
    [Parameter]
    public bool enabledAnimation { get; set; } = false;
    [Parameter]
    public int GaugeValue { get; set; } = 25;

    [Parameter]
    public int MinValue { get; set; } = 0;

    [Parameter]
    public int MaxValue { get; set; } = 100;
}
