﻿@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime


<div class="stars stars-example-css">
    <div class="br-wrapper br-theme-css-stars">
        <select id="example-css" class="rating-star" name="rating" autocomplete="off" style="display: none;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><div class="br-widget">
    @for (int i = 0; i < 5; i++)
    {
        var css = "";
        var starValue = i + 1;
        if(Rating >= starValue)
        {
            css = "br-selected br-current";
        }
        <a  data-rating-value="@starValue" data-rating-text="@starValue" class="@css"  @onclick="@(()=>UpdateRating(starValue))"  style="cursor: pointer;">
        </a>
    }

</div>
    </div>
</div>


@code {
    [Parameter]
    protected int Rating { get; set; } = 0;

    public void UpdateRating(int value)
    {
        Rating = value;
        StateHasChanged();

    }
  
}


