﻿

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-12 py-3 text-center">
                    <img style="max-height: 170px!important;" src="@_cardModel.MainImage"  class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-12">
                    <div class="col py-3">
                        <div class="row">
                            <div class="col-12">
                                @if (_cardModel.Mode == CardMode.Selection)
                                {
                                    <a> *****</a>
                                }
                                else if(_cardModel.Mode == CardMode.Request){
                                    <button type="button" onclick="@OnRequest" class="btn btn-primary col-12 border-curve">Request Mentor</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-12">
                    <h5>@_cardModel.Title</h5>
                </div>
                <div class="col-12">
                    <p>@_cardModel.SubTitle</p>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-4 col-md-2">
                            <img src="@_cardModel.ProfileImage" class="img-fluid" style="max-height:65px;" alt="Responsive image">
                        </div>
                        <div class="col">
                            <div class="col-12">
                                <h6>@_cardModel.ProfileTitle</h6>
                            </div>
                            <div class="col-12">
                                <p>@_cardModel.ProfileDescription</p>
                            </div>
                            <div class="col-12">
                                @if (_cardModel.Mode == CardMode.Selection)
                                {
                                    @if (_cardModel.WhoIsEndUser == EndUser.Mentor)
                                    {
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" @onclick="@OnReject" class="btn btn-danger border-curve">Reject</button>
                                            <button type="button" @onclick="@OnPass" class="btn btn-secondary border-curve">Pass</button>
                                            <button type="button" @onclick="@OnAccept" class="btn btn-success border-curve">Accept</button>
                                        </div>
                                    }
                                    else if (_cardModel.WhoIsEndUser == EndUser.Mentee)
                                    {
                            <div class="col-12 p-0">
                                <a> Status:</a> <span class="badge badge-pill badge-secondary">@_cardModel.Status</span>
                            </div>
                                        <div class="col-12 py-4 px-0">
                                            <button class="btn btn-secondary col-6 border-curve" @onclick="@OnMentorshipCancel">Cancel</button>
                                        </div>
                                    }
                                }
                                else if ((_cardModel.Mode == CardMode.Request))
                                {
                                    <a> *****</a>
                                   
                                }



                            </div>
                        </div>
                        
                    </div>
                    
                </div>


            </div>
        </div>

    </li>
</ul>

@code {
   
    [Parameter]
    public BootstrapCardModel _cardModel { get; set; } = new BootstrapCardModel {
        MainImage = "https://hackernoon.com/hn-images/1*Y0UYuGcFGSCfs5Eexafq6A.png",
        Title = "Lorenzo Hal",
        SubTitle = "University of California",
        ProfileImage = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png",
        ProfileTitle  = "Artificial Intelligence",
        ProfileDescription = "Lorenzo is requesting a mentorship.",
        Mode = CardMode.Request,
        Status = "Pending"
    };

    [Parameter]
    public EventCallback<UIMouseEventArgs> OnReject { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnPass { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnAccept { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnRequest { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnMentorshipCancel { get; set; }

}
