﻿@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.EJ2.Blazor.Calendars
@inject IJSRuntime JsRuntime

<div class="card">
    <div class="card-header">
        <h5>Sign Up</h5>
    </div>
    <div class="card-block">

        <EditForm Model="@_validation" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
            <DataAnnotationsValidator />
            <!-- [ SmartWizard html ] start -->
            <div id="smartwizard" class="sw-main sw-theme-dots">
                <ul class="nav nav-tabs step-anchor">
                    <li class="nav-item @StepOneCss">
                        <a href="#step-1" class="nav-link">
                            <h6>Step 1</h6>
                            <p class="m-0">General Information</p>
                        </a>
                    </li>
                    <li class="nav-item @StepTwoCss">
                        <a href="#step-2" class="nav-link">
                            <h6>Step 2</h6>
                            <p class="m-0">Interest</p>
                        </a>
                    </li>
                    <li class="nav-item @StepThreeCss">
                        <a href="#step-3" class="nav-link">
                            <h6>Step 3</h6>
                            <p class="m-0">Account Details</p>
                        </a>
                    </li>
                    <li class="nav-item @StepFourCss">
                        <a href="#step-4" class="nav-link">
                            <h6>Step 4</h6>
                            <p class="m-0">Review &amp; Create Account</p>
                        </a>
                    </li>
                </ul>
                <div>
                    @if (StepActive == Steps.Step1)
                    {
                        <div id="step-1">
                            <h5>General Information</h5>
                            <p>
                                Tell us more about you.
                            </p>
                            <hr>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fisrtName">First Name</label>
                                    <InputText @bind-Value="@_validation.FirstName" type="text" class="form-control" id="FirstName" placeholder="William" />
                                    <ValidationMessage For="@(() => @_validation.FirstName)" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <InputText class="form-control" @bind-Value="@_validation.LastName" id="lastName" type="text" placeholder="Smith" />
                                    <ValidationMessage For="@(() => @_validation.LastName)" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="birthday">Date of birth:</label>
                                    @*<EjsDatePicker @bind-Value="@age"  Placeholder="Choose your date of birth"></EjsDatePicker>*@
                                     <InputText type="text" id="date" @bind-Value="@_validation.Age" class="form-control" placeholder="Date"/>
                                   
                                    <div class="datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom" style="top: 662.125px; left: 1376.97px; display: block;"><div class="datepicker-days" style=""><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">«</th><th colspan="5" class="datepicker-switch">September 2019</th><th class="next" style="visibility: visible;">»</th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="old day">25</td><td class="old day">26</td><td class="old day">27</td><td class="old day">28</td><td class="old day">29</td><td class="old day">30</td><td class="old day">31</td></tr><tr><td class="day">1</td><td class="day">2</td><td class="day">3</td><td class="day">4</td><td class="day">5</td><td class="day">6</td><td class="day">7</td></tr><tr><td class="day">8</td><td class="day">9</td><td class="day">10</td><td class="day">11</td><td class="day">12</td><td class="day">13</td><td class="day">14</td></tr><tr><td class="day">15</td><td class="day">16</td><td class="day">17</td><td class="day">18</td><td class="day">19</td><td class="day">20</td><td class="day">21</td></tr><tr><td class="day">22</td><td class="day">23</td><td class="day">24</td><td class="day">25</td><td class="day">26</td><td class="day">27</td><td class="day">28</td></tr><tr><td class="day">29</td><td class="day">30</td><td class="new day">1</td><td class="new day">2</td><td class="new day">3</td><td class="new day">4</td><td class="new day">5</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">«</th><th colspan="5" class="datepicker-switch">2019</th><th class="next" style="visibility: visible;">»</th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month focused">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">«</th><th colspan="5" class="datepicker-switch">2010-2019</th><th class="next" style="visibility: visible;">»</th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year focused">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">«</th><th colspan="5" class="datepicker-switch">2000-2090</th><th class="next" style="visibility: visible;">»</th></tr></thead><tbody><tr><td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span class="decade">2010</span><span class="decade">2020</span><span class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span class="decade">2090</span><span class="decade new">2100</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-centuries" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">«</th><th colspan="5" class="datepicker-switch">2000-2900</th><th class="next" style="visibility: visible;">»</th></tr></thead><tbody><tr><td colspan="7"><span class="century old">1900</span><span class="century">2000</span><span class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span class="century new">3000</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div></div>
                                    <ValidationMessage For="@(() => @_validation.Age)" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Male/Female</label>
                                    <div class="switch switch-primary d-inline m-r-10">
                                        <InputCheckbox @bind-Value="@_validation.Gender" id="gender-sw" type="checkbox" />
                                        <label class="cr" for="gender-sw"></label>
                                    </div>
                                    <ValidationMessage For="@(() => @_validation.Gender)" />
                                </div>
                            </div>
                        </div>
                    }

                    @if (StepActive == Steps.Step2)
                    {
                        <div id="step-2">
                            <h5>Interest</h5>
                            <p>
                                What are your interest?
                            </p>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Choose interest:</label>
                                    <select class="js-example-diacritics col"  multiple="multiple">
                                        <option value="AL">Alabama</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Coming</option>
                                        <option value="WY">Hanry Die</option>
                                        <option value="WY">John Doe</option>
                                    </select>
                                    <ValidationMessage For="@(() => @_validation.Interest)" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Mentee/Mentor</label>
                                    <div class="switch switch-primary d-inline m-r-10">
                                        <InputCheckbox id="role-sw" @bind-Value="@_validation.Role" type="checkbox" />
                                        <label class="cr" for="role-sw"></label>
                                        <ValidationMessage For="@(() => @_validation.Role)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (StepActive == Steps.Step3)
                    {
                        <div id="step-3">
                            <h5>Account Details</h5>
                            <p>
                                Let's add some security to your account.
                            </p>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <InputText class="form-control" @bind-Value="@_validation.Email" id="email" type="email" placeholder="" />
                                    <ValidationMessage For="@(() => @_validation.Email)" />
                                    <p>
                                        We will never share your email.
                                    </p>

                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="password">Password</label>
                                    <InputText class="form-control" @bind-Value="@_validation.Password" id="password" type="password" placeholder="********" />
                                    <ValidationMessage For="@(() => @_validation.Password)" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confirmPassword">Confirm password</label>
                                    <InputText class="form-control" @bind-Value="@_validation.ConfirmPassword" id="confirmPassword" type="password" placeholder="********" />
                                    <ValidationMessage For="@(() => @_validation.ConfirmPassword)" />
                                </div>
                            </div>

                        </div>
                    }

                    @if (StepActive == Steps.Step4)
                    {
                        <div id="step-4">
                            <h5>Review and Create Account</h5>
                            <hr>
                            <h6>General Information</h6>
                            <label>Name: </label><p>@_validation.FirstName @_validation.LastName</p>
                            <label>Gender: </label><p>@_validation.Gender</p>
                            <label>Date of birth: </label><p>@_validation.Age</p>
                            <hr />
                            <h6>Interest</h6>
                            <label>Career Interest: </label><p>@_validation.Interest</p>
                            <label>Role: </label><p>@_validation.Role</p>

                            <hr />
                            <h6>Account Details</h6>
                            <label>Email: </label><p>@_validation.Email</p>
                            <label>Password: </label><p>********</p>
                            <hr />

                        </div>
                    }

                </div>
                <div>
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary" @onclick="@Previous">Previous</button>
                                @if (StepActive != Steps.Step4)
                                {
                                    <button type="button" class="btn btn-primary" @onclick="@Next">Next</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary"> Create Account</button>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </EditForm>

    </div>
</div>

@code {
    private string StepOneCss { get; set; } = "active";
    private string StepTwoCss { get; set; } = "";
    private string StepThreeCss { get; set; } = "";
    private string StepFourCss { get; set; } = "";
    private Steps StepActive { get; set; } = Steps.Step1;

    //test params
    public DateTime age { get; set; } = new DateTime();

    private enum Steps
    {
        Step1,
        Step2,
        Step3,
        Step4
    }

    [Parameter]
    public SignUpWizardValidationModel _validation { get; set; } = new SignUpWizardValidationModel();

    protected override async Task OnParametersSetAsync()
    {

        //Init wizard
        //var wizardResult = await JsRuntime.InvokeAsync<bool>("dattaAble.smartWizardInit");




        // Console.WriteLine("Here is the user token: " + wizardResult);
    }
    protected override async Task OnAfterRenderAsync()
    {
        try
        {
            //init select input
            //var SelectResult = await JsRuntime.InvokeAsync<bool>("dattaAble.selectInputInit");
            //init date picker
            var datepickerResult = await JsRuntime.InvokeAsync<bool>("dattaAble.datePickerInit");
        }
        catch (Exception)
        {

            throw;
        }
    }

    private async Task LoadStep(int step)
    {
         switch (step)
        {
            case 1:
                StepOneCss = "active";
                break;
            case 2:
               var SelectResult = await JsRuntime.InvokeAsync<bool>("dattaAble.selectInputInit");
                break;
            case 3:
                StepTwoCss = "done";
                StepThreeCss = "active";
                break;
            case 4:
                StepThreeCss = "done";
                StepFourCss = "active";
                break;
            default:
                Console.WriteLine("Default case");
                break;
        }
         
    }



    public void Next()
    {
        if (StepActive == Steps.Step4)
        {
            return;
        }
        StepActive++;
        switch (StepActive)
        {
            case Steps.Step1:
                StepOneCss = "active";
                break;
            case Steps.Step2:
                StepOneCss = "done";
                StepTwoCss = "active";
                LoadStep(2);
                break;
            case Steps.Step3:
                StepTwoCss = "done";
                StepThreeCss = "active";
                break;
            case Steps.Step4:
                StepThreeCss = "done";
                StepFourCss = "active";
                break;
            default:
                Console.WriteLine("Default case");
                break;
        }
    }

    public void Previous()
    {
        if (StepActive == Steps.Step1)
        {
            return;
        }
        StepActive--;
        switch (StepActive)
        {
            case Steps.Step1:
                StepOneCss = "active";
                StepTwoCss = "done";
                break;
            case Steps.Step2:
                StepThreeCss = "done";
                StepTwoCss = "active";
                break;
            case Steps.Step3:
                StepFourCss = "done";
                StepThreeCss = "active";
                break;
            case Steps.Step4:
                StepThreeCss = "done";
                StepFourCss = "active";
                break;
            default:
                Console.WriteLine("Default case");
                break;
        }
    }
    public void OnValidSubmit()
    {

    }

    public void OnInvalidSubmit()
    {

    }
}
