﻿@page "/mentors"
@page "/search/{query}"
@inject IJSRuntime JsRuntime;

@if (query != string.Empty)
{
    <h4> Search result for: @query</h4>
}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                        mainTitle="ArtificialIntellignace"
                        mainSubtitle="Software Engineer"
                        userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                        userSubtitle="cool guy.."
                        userName="Bruce Wane">
            <div class="row m-t-30">
                <div class="col-12 pb-3 px-0">



                    <div class="col-4">
                        <label>Rating: </label>
                    </div>
                    <div class="col">
                        <CssStarRatingComponent></CssStarRatingComponent>
                    </div>
                </div>
                <div class="col-12 ">
                    <button class="btn btn-primary text-uppercase btn-block" @onclick="@RequestMentorship">Request Mentor</button>
                </div>
                @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
            </div>
        </DataCardWidget>
    </div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                        mainTitle="ArtificialIntellignace"
                        mainSubtitle="Software Engineer"
                        userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                        userSubtitle="cool guy.."
                        userName="Bruce Wane">
            <div class="row m-t-30">
                <div class="col-12 pb-3 px-0">



                    <div class="col-4">
                        <label>Rating: </label>
                    </div>
                    <div class="col">
                        <CssStarRatingComponent></CssStarRatingComponent>
                    </div>
                </div>
                <div class="col-12 ">
                    <button class="btn btn-primary text-uppercase btn-block" @onclick="@RequestMentorship">Request Mentor</button>
                </div>
                @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
            </div>
        </DataCardWidget>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                        mainTitle="ArtificialIntellignace"
                        mainSubtitle="Software Engineer"
                        userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                        userSubtitle="cool guy.."
                        userName="Bruce Wane">
            <div class="row m-t-30">
                <div class="col-12 pb-3 px-0">
                     <div class="col-4">
                        <label>Rating: </label>
                    </div>
                    <div class="col">
                        <CssStarRatingComponent></CssStarRatingComponent>
                    </div>
                </div>
                <div class="col-12 ">
                    <button class="btn btn-primary text-uppercase btn-block" @onclick="@RequestMentorship">Request Mentor</button>
                </div>
                @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
            </div>
        </DataCardWidget>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                        mainTitle="ArtificialIntellignace"
                        mainSubtitle="Software Engineer"
                        userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                        userSubtitle="cool guy.."
                        userName="Bruce Wane">
            <div class="row m-t-30">
                <div class="col-12 pb-3 px-0">



                    <div class="col-4">
                        <label>Rating: </label>
                    </div>
                    <div class="col">
                        <CssStarRatingComponent></CssStarRatingComponent>
                    </div>
                </div>
                <div class="col-12 ">
                    <button class="btn btn-primary text-uppercase btn-block" @onclick="@RequestMentorship">Request Mentor</button>
                </div>
                @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
            </div>
        </DataCardWidget>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                        mainTitle="ArtificialIntellignace"
                        mainSubtitle="Software Engineer"
                        userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                        userSubtitle="cool guy.."
                        userName="Bruce Wane">
            <div class="row m-t-30">
                <div class="col-12 pb-3 px-0">



                    <div class="col-4">
                        <label>Rating: </label>
                    </div>
                    <div class="col">
                        <CssStarRatingComponent></CssStarRatingComponent>
                    </div>
                </div>
                <div class="col-12 ">
                    <button class="btn btn-primary text-uppercase btn-block" @onclick="@RequestMentorship">Request Mentor</button>
                </div>
                @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
            </div>
        </DataCardWidget>
    </div>

</div>


@code {
    [Parameter]
    public string query { get; set; } = string.Empty;
    public CardListModel MyCards { get; set; } = new CardListModel
    {
        Cards = new List<BootstrapCardModel> {
            new BootstrapCardModel{
            Title = "Artificial Intelligence",
            SubTitle = "All about AI.",
            ProfileTitle = "Lorenzo Fonzalez",
            ProfileDescription = "University of California",
            ProfileImage = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
            MainImage ="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
            ,WhoIsEndUser = EndUser.Mentee},
            new BootstrapCardModel{
          Title = "Car Fix",
            SubTitle = "All about cars.",
            ProfileTitle = "Lorenzo Fonzalez",
            ProfileDescription = "University of California",
            ProfileImage = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
            MainImage ="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
            ,WhoIsEndUser = EndUser.Mentee
            },
            new BootstrapCardModel{
           Title = "Bakery",
            SubTitle = "All about the cake.",
            ProfileTitle = "Lorenzo Fonzalez",
            ProfileDescription = "University of California",
            ProfileImage = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
            MainImage ="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
            ,WhoIsEndUser = EndUser.Mentee
            }
        }
    };

    public void RequestMentorship()
    {
        var alertOption = new SweetAlertOption
        {
            Title = "Request Mentorship",
            Text = "You are requesting a mentorship, are you sure?",
            Type = "warning",
            ShowCancelButton = true,
            ConfirmButtontext = "Yes, Im sure",
            CancelButtonText = "Cancel"
        };

        FireAlert(alertOption);
    }


    public async void FireAlert(SweetAlertOption alertOption)
    {

        var result = await JsRuntime.InvokeAsync<string>("exampleJsFunctions.sweetAlert",
                                               alertOption.Title,
                                               alertOption.Text,
                                                alertOption.Type,
                                                alertOption.ShowCancelButton,
                                                alertOption.ConfirmButtontext,
                                                alertOption.CancelButtonText);
    }
}
