﻿@page "/request"
@inject IJSRuntime JsRuntime;

    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                            mainTitle="ArtificialIntellignace"
                            mainSubtitle="Software Engineer"
                            userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                            userSubtitle="cool guy.."
                            userName="Bruce Wane">
                <div class="row m-t-30">
                    <div class="col-12 pb-3">
                        <span class="text-muted">Status: </span> <span class="badge badge-pill badge-secondary">Pending</span>
                    </div>
                    <div class="col-12 ">
                        <button class="btn btn-secondary text-uppercase btn-block">Cancel</button>
                    </div>
                    @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
                </div>
            </DataCardWidget>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                            mainTitle="ArtificialIntellignace"
                            mainSubtitle="Software Engineer"
                            userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                            userSubtitle="cool guy.."
                            userName="Bruce Wane">
                <div class="row m-t-30">
                    <div class="col-12 pb-3">
                        <span class="text-muted">Status: </span> <span class="badge badge-pill badge-secondary">Pending</span>
                    </div>
                    <div class="col-12 ">
                        <button class="btn btn-secondary text-uppercase btn-block">Cancel</button>
                    </div>
                    @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
                </div>
            </DataCardWidget>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                            mainTitle="ArtificialIntellignace"
                            mainSubtitle="Software Engineer"
                            userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                            userSubtitle="cool guy.."
                            userName="Bruce Wane">
                <div class="row m-t-30">
                    <div class="col-12 pb-3">
                        <span class="text-muted">Status: </span> <span class="badge badge-pill badge-secondary">Pending</span>
                    </div>
                    <div class="col-12 ">
                        <button class="btn btn-secondary text-uppercase btn-block">Cancel</button>
                    </div>
                    @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
                </div>
            </DataCardWidget>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <DataCardWidget mainImage="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                            mainTitle="ArtificialIntellignace"
                            mainSubtitle="Software Engineer"
                            userImage="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                            userSubtitle="cool guy.."
                            userName="Bruce Wane">
                <div class="row m-t-30">
                    <div class="col-12 pb-3">
                        <span class="text-muted">Status: </span> <span class="badge badge-pill badge-secondary">Pending</span>
                    </div>
                    <div class="col-12 ">
                        <button class="btn btn-secondary text-uppercase btn-block">Cancel</button>
                    </div>
                    @*<div class="col-6 p-r-0">
                        <a class="btn btn-primary text-uppercase btn-block" href="#!">add friend</a>
                    </div>
                    <div class="col-6">
                        <a class="btn text-uppercase border btn-block btn-outline-secondary" href="#!">message</a>
                    </div>*@
                </div>
            </DataCardWidget>
        </div>
    </div>
        @code {
            public CardListModel MyCards { get; set; } = new CardListModel
            {
                Cards = new List<BootstrapCardModel> {
            new BootstrapCardModel{
            ProfileTitle = "Artificial Intelligence",
            ProfileDescription = "All about AI.",
            Title = "Lorenzo Fonzalez",
            SubTitle = "University of California",
            MainImage = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
            ProfileImage ="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg",
            Mode = CardMode.Selection,
            Status = "Pending"},
            new BootstrapCardModel{
          ProfileTitle = "Artificial Intelligence",
            ProfileDescription = "All about AI.",
            Title = "Lorenzo Fonzalez",
            SubTitle = "University of California",
            MainImage = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
            ProfileImage ="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg",
             Mode = CardMode.Selection,
             WhoIsEndUser  = EndUser.Mentee,
             Status = "Pending"
            },
            new BootstrapCardModel{
           ProfileTitle = "Artificial Intelligence",
            ProfileDescription = "All about AI.",
            Title = "Lorenzo Fonzalez",
            SubTitle = "University of California",
            MainImage = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
            ProfileImage ="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg",
             Mode = CardMode.Selection,
             Status = "Pending"
            }
        }
            };

            public void OnRejectSubmit()
            {
                var alertOption = new SweetAlertOption
                {
                    Title = "Reject Request",
                    Text = "The request for mentoring will be rejected, are you sure?",
                    Type = "warning",
                    ShowCancelButton = true,
                    ConfirmButtontext = "Yes, Im sure",
                    CancelButtonText = "Cancel"
                };

                FireAlert(alertOption);
            }

            public void OnPassSubmit()
            {
                var alertOption = new SweetAlertOption
                {
                    Title = "Pass on Request",
                    Text = "The user will not know you pass on the request. Are you sure you want to pass?",
                    Type = "warning",
                    ShowCancelButton = true,
                    ConfirmButtontext = "Yes, Im sure",
                    CancelButtonText = "Cancel"
                };

                FireAlert(alertOption);
            }

            public void OnAcceptSubmit()
            {
                var alertOption = new SweetAlertOption
                {
                    Title = "Accept Request",
                    Text = "Once you accept the request the mentorship will start, your session rooms will be available on the chats room list.",
                    Type = "warning",
                    ShowCancelButton = true,
                    ConfirmButtontext = "ok, Accept",
                    CancelButtonText = "Cancel"
                };

                FireAlert(alertOption);
            }

            public void OnMentorshipCancel()
            {
                var alertOption = new SweetAlertOption
                {
                    Title = "Cancel request",
                    Text = "are you sure want to cancel the request?",
                    Type = "warning",
                    ShowCancelButton = true,
                    ConfirmButtontext = "Yes, Im sure",
                    CancelButtonText = "Cancel"
                };

                FireAlert(alertOption);
            }


            public async void FireAlert(SweetAlertOption alertOption)
            {

                var result = await JsRuntime.InvokeAsync<string>("exampleJsFunctions.sweetAlert",
                                                       alertOption.Title,
                                                       alertOption.Text,
                                                        alertOption.Type,
                                                        alertOption.ShowCancelButton,
                                                        alertOption.ConfirmButtontext,
                                                        alertOption.CancelButtonText);
            }
        }
