﻿
    <div class="card">
        <img class="img-fluid" alt="dashboard-user" src="@mainImage">
        <div class="card-block">
            <h5>@mainTitle</h5>
            <span class="text-muted">@mainSubtitle</span>
            <div class="row align-items-center justify-content-center pt-3">
                <div class="col-auto">
                    <img class="img-fluid rounded-circle" style="width:70px;" alt="dashboard-user" src="@userImage">
                </div>
                <div class="col">
                    <h5>@userName</h5>
                    <span>@userSubtitle</span>
                </div>
            </div>
          @ChildContent
        </div>
    </div>


@code {
      [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    protected string mainImage { get; set; } = "https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg";
    [Parameter]
    protected string mainTitle { get; set; }
    [Parameter]
    protected string mainSubtitle { get; set; }
    [Parameter]
    protected string userImage { get; set; } = "https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg";
    [Parameter]
    protected string userName { get; set; }
    [Parameter]
    protected string userSubtitle { get; set; }

}
