﻿@page "/mentorship"
    <div class="row">

        <CardComponent Title="AI Advanced Class"
                       SubTitle="By GaryVee"
                       ImageUrl="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                       ProgressBarValue="45"
                       ProgressBarEnabled="true">
            <div class="row mt-5 justify-content-between">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-light" disabled>9 Sessions</button>


                </div>
                <div class="col  text-right">
                    <a class="btn btn-sm btn-primary" href="/mentorship/details">View <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </CardComponent>

        <CardComponent Title="AI Advanced Class"
                       SubTitle="By GaryVee"
                       ImageUrl="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                       ProgressBarValue="45"
                       ProgressBarEnabled="true">
            <div class="row mt-5 justify-content-between">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-light" disabled>9 Sessions</button>


                </div>
                <div class="col  text-right">
                    <a class="btn btn-sm btn-primary" href="/mentorship/details">View <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </CardComponent>
        <CardComponent Title="AI Advanced Class"
                       SubTitle="By GaryVee"
                       ImageUrl="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                       ProgressBarValue="45"
                       ProgressBarEnabled="true">
            <div class="row mt-5 justify-content-between">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-light" disabled>9 Sessions</button>


                </div>
                <div class="col  text-right">
                    <a class="btn btn-sm btn-primary" href="/mentorship/details">View <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </CardComponent>

        <CardComponent Title="AI Advanced Class"
                       SubTitle="By GaryVee"
                       ImageUrl="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                       ProgressBarValue="45"
                       ProgressBarEnabled="true">
            <div class="row mt-5 justify-content-between">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-light" disabled>9 Sessions</button>


                </div>
                <div class="col  text-right">
                    <a class="btn btn-sm btn-primary" href="/mentorship/details">View <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </CardComponent>

        <CardComponent Title="AI Advanced Class"
                       SubTitle="By GaryVee"
                       ImageUrl="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"
                       ProgressBarValue="45"
                       ProgressBarEnabled="true">
            <div class="row mt-5 justify-content-between">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-light" disabled>9 Sessions</button>


                </div>
                <div class="col  text-right">
                    <a class="btn btn-sm btn-primary" href="/mentorship/details">View <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </CardComponent>


    </div>

@code {

}
