﻿@page "/mentorship/details"
    <div class="row">
        <div class="col-12 col-md-6">
            <MentorshipCardComponent Title="AI Advanced Class"
                                     Subtitle="0 to 100 real quick."
                                     ImageUrl="https://sloanreview.mit.edu/content/uploads/2018/07/AI-Davenport-Artificial-Intelligence-Pilots-Innovators-Early-Adopters-Implementation-Industry-Production-1200.jpg"></MentorshipCardComponent>
        </div>

        <div class="col-12 col-md-6">
            <MentorshipCardComponent Title="GaryVee"
                                     Subtitle="AI Expert"
                                     ImageUrl="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg"
                                     ImageLeft="false">
                <button class="btn btn-sm btn-secondary">Message</button>
            </MentorshipCardComponent>
        </div>
    </div>
<MentorshipSessionTable Sessions="@sessions"></MentorshipSessionTable>
@code {
    public List<MentorshipSessionTableItem> sessions { get; set; } = new List<MentorshipSessionTableItem> {
    new MentorshipSessionTableItem{
    ImageUrl="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
    RoomId = "1",
    SessionTitle = "Session #1",
    SessionSubTitle = "AI Introduction",
    Date="Jan 19 2017",
    Status="Attended"
    },
    new MentorshipSessionTableItem{
    ImageUrl="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
    RoomId = "2",
    SessionTitle = "Session #2",
    SessionSubTitle = "AI Basic",
    Date="Jan 20 2017",
    Status="Attended"
    },
    new MentorshipSessionTableItem{
    ImageUrl="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
    RoomId = "3",
    SessionTitle = "Session #3",
    SessionSubTitle = "AI Advanced",
    Date="Feb 4 2017",
    Status="Missed"
    },
    new MentorshipSessionTableItem{
    ImageUrl="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg",
    RoomId = "4",
    SessionTitle = "Session #4",
    SessionSubTitle = "AI Expert",
    Date="Feb 7 2017",
    Status="Upcoming"
    }};
}
