﻿@inject IUriHelper UriHelper

<div class="card Application-list">
    <div class="card-block pb-0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mentor</th>
                        <th>Session</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MentorshipSessionTableItem session in Sessions)
                    {
                        var badge = "primary";
                        @switch (@session.Status)
                        {
                            case "Attended":
                                badge = "success";
                                break;
                            case "Missed":
                                badge = "danger";
                                break;
                            case "Cancel":
                                badge = "warning";
                                break;
                            default:
                                badge = "primary";
                                break;

                        }

                        <tr>
                            <td><img class="rounded-circle" style="width:50px;" src="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg" alt="activity-user"></td>
                            <td>
                                <h6 class="mb-1">@session.SessionTitle</h6>
                                <p class="m-0">@session.SessionSubTitle</p>
                            </td>

                            <td>
                                <h6 class="m-b-0">@session.Date</h6>
                            </td>

                            <td><span class="badge badge-pill   badge-@badge">@session.Status</span></td>
                            <td>
                                <div class="btn-group mb-2 mr-2">
                                    <button class="btn btn-sm btn-primary" @onclick="@(()=> GoToRoom(session.RoomId))">Enter Room</button>
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" style="cursor:pointer;">Re-Schedule</button>
                                        <button class="dropdown-item" style="cursor:pointer;">Cancel</button>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" style="cursor:pointer;">Rate</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@code{


    [Parameter]
    public List<MentorshipSessionTableItem> Sessions { get; set; } = new List<MentorshipSessionTableItem>();

    public void GoToRoom(string room)
    {
        UriHelper.NavigateTo("videochat/" + room);
    }
}