﻿@page "/"
@namespace SpeakMentorship.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeakMentorship</title>
    <base href="~/" />

    @* master-theme dependencies *@
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="Speakmentoship, Mentoship, Mentor, Mentee, Courses">
    <meta name="author" content="NativoPlus" />

    <!-- Favicon icon -->
    <link rel="icon" href="master-theme/assets/images/favicon.ico" type="image/x-icon" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="master-theme/assets/fonts/fontawesome/css/fontawesome-all.min.css" />
    <!-- animation css -->
    <link rel="stylesheet" href="master-theme/assets/plugins/animation/css/animate.min.css" />
    <!-- prism css -->
    <link rel="stylesheet" href="master-theme/assets/plugins/prism/css/prism.min.css" />
    <!-- vendor css -->
    <link rel="stylesheet" href="master-theme/assets/css/style.css" />
    <!-- css star rating css -->
    <link href="master-theme/assets/plugins/ratting/css/css-stars.css" rel="stylesheet" />

    <!-- Select2 css -->
    <link href="master-theme/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
    <!-- Smart Wizard css -->
    <link rel="stylesheet" href="master-theme/assets/plugins/smart-wizard/css/smart_wizard.min.css" />
    <link rel="stylesheet" href="master-theme/assets/plugins/smart-wizard/css/smart_wizard_theme_arrows.min.css" />
    <link rel="stylesheet" href="master-theme/assets/plugins/smart-wizard/css/smart_wizard_theme_circles.min.css" />
    <link rel="stylesheet" href="master-theme/assets/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css" />
    <!-- Material Datepicker css -->
    <link href="master-theme/assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

    <!-- Bootstrap Datepicker css -->
    <link href="master-theme/assets/plugins/bootstrap-datetimepicker/css/prettify.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/bootstrap-datetimepicker/css/docs.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="master-theme/assets/fonts/material/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Datepicker css -->
    <link href="master-theme/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">

    <!-- Rating css -->
    <link href="master-theme/assets/plugins/ratting/css/bars-1to10.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/bars-horizontal.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/bars-movie.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/bars-pill.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/bars-reversed.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/bars-square.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/bootstrap-stars.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/css-stars.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/fontawesome-stars.css" rel="stylesheet">
    <link href="master-theme/assets/plugins/ratting/css/fontawesome-stars-o.css" rel="stylesheet">
    <!-- Multi select css -->
    <link href="master-theme/assets/plugins/multi-select/css/multi-select.css" rel="stylesheet">


    @* End of master-theme dependencies *@


  
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />





    @*Synfusion*@
    <link href="https://cdn.syncfusion.com/ej2/17.2.46/material.css" rel="stylesheet" />
    <link href="/synfusion/material.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <script src="https://cdn.syncfusion.com/ej2/17.2.46/dist/ej2.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/17.2.46/dist/ejs.interop.min.js"></script>

 


    @*<link href="/css/sidebarNavbar.css" rel="stylesheet" />*@







</head>
<body class="layout-8">
    <app>
        @* Remove the following line of code to disable prerendering *@
        @(await Html.RenderStaticComponentAsync<App>())
    </app>+<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <script src="_framework/blazor.server.js"></script>

    @* Configuration for Firebase *@
    <script src="/js/firebaseConfigInit.js" type="text/javascript"></script>


    @* Master theme dependencies *@
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="master-theme/assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="master-theme/assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="master-theme/assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="master-theme/assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="master-theme/assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- jquery Js -->
    @*<script src="master-theme/assets/plugins/jquery/js/jquery.min.js"></script>*@
    @* interop javascript files *@
    <script src="/js/interop.js"></script>
    <script src="/js/firebaseJsInterop.js"></script>
    @* dependencies for Firebase *@
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

    <!-- Select2 Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <!-- uikit Js -->
    <script src="master-theme/assets/js/uikit.js"></script>
    <!-- Required Js -->
    <script src="master-theme/assets/js/vendor-all.js"></script>

    <script src="master-theme/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- prism Js -->
    <script src="master-theme/assets/plugins/prism/js/prism.min.js"></script>

    <!-- Rating Js -->
    <script src="master-theme/assets/plugins/ratting/js/jquery.barrating.min.js"></script>


    <!-- Smart Wizard Js -->
    <script src="master-theme/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="master-theme/assets/js/pages/wizard-custom.js"></script>

    @* JsInterop *@
    <script src="master-theme/DattaAbleJsInterop.js"></script>




    <!-- Datepicker Js -->
    <script src="master-theme/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>

    <!-- Multi select Js -->
    <script src="master-theme/assets/plugins/multi-select/js/jquery.quicksearch.js">
    </script>
    <script src="master-theme/assets/plugins/multi-select/js/jquery.multi-select.js">
    </script>
    <!-- datepicker Js -->
    <script src="master-theme/assets/js/pages/ac-datepicker.js"></script>

    <!-- Knob chart Js -->
    <script src="master-theme/assets/plugins/chart-knob/js/jquery.knob.min.js">
    </script>
    <script src="master-theme/assets/plugins/chart-knob/js/jquery.knob-custom.min.js">
    </script>

    <!-- Sweet alert Js -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- 404 components Scripts -->
    <script src="master-theme/assets/plugins/404component/js/parallax.js"></script>

    <!-- Material Datepicker Js -->
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js">
    </script>
    <script src="master-theme/assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js">
    </script>
    @*End of Master theme dependencies *@
</body>
</html>
