﻿@page "/"
@inject IJSRuntime JsRuntime;
@using FirebaseAdmin
@using FirebaseAdmin.Auth
@using Google.Apis.Auth.OAuth2
@inject FirebaseJsService firebase
<div class="jumbotron">
    <h1 class="display-4">Welcome to SpeakMentorship</h1>
    <blockquote class="blockquote">
        <p class="mb-0">A true teacher would never tell you what to do. But he would give you the knowledge with which you could decide what would be best for you to do.</p>
        <footer class="blockquote-footer">Christopher Pike, Sati </footer>
    </blockquote>
    <a class="btn btn-primary btn-lg" href="mentors" role="button">Find Mentors</a>
</div>
<CssStarRatingComponent></CssStarRatingComponent>
@code{
    //we fetch the firebaseapp instance
    private FirebaseApp firebaseApp { get; set; }

    private BaseUser user { get; set; }

    //.GetInstance("speakmentorship");
    private FirebaseAuth firebaseAuth { get; set; }

    protected override async void OnAfterRender()
    {
        var loggedUser = await firebase.GetCurrentUser();
        user = loggedUser;

        Console.WriteLine(loggedUser);

    }

    protected override async void OnInitialized()
    {

        //UserRecordArgs args = new UserRecordArgs()
        //{
        //    Email = "user@example.com",
        //    EmailVerified = false,
        //    PhoneNumber = "+11234567890",
        //    Password = "secretPassword",
        //    DisplayName = "John Doe",
        //    PhotoUrl = "http://www.example.com/12345678/photo.png",
        //    Disabled = false,
        //};

        //firebaseApp = FirebaseApp.Create(new AppOptions()
        //{
        //    Credential = GoogleCredential.FromFile("speakmentorship-firebase.json"),
        //});


        //UserRecord userRecord = await FirebaseAuth.DefaultInstance.CreateUserAsync(args);
        //// See the UserRecord reference doc for the contents of userRecord.
        //Console.WriteLine($"Successfully created new user: {userRecord.Uid}");


        ////Here we will fetch the Auth instance from the firebaseapp
        //firebaseAuth = FirebaseAuth.GetAuth(firebaseApp);

        //var user = firebaseAuth.CreateUserAsync(new UserRecordArgs
        //{
        //    Email = "sodacot@click-mail.top",
        //    Password = "123456789",
        //    DisplayName = "Developer"

        //});
    }
    public async Task LoadRating()
    {
       
    }
}