﻿@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime
<div id="container" class="container">
    <ul id="scene" class="scene">
        <li class="layer" data-depth="1.00"><img src="assets/404component/images/404-01.png"></li>
        <li class="layer" data-depth="0.60"><img src="assets/404component/images/shadows-01.png"></li>
        <li class="layer" data-depth="0.20"><img src="assets/404component/images/monster-01.png"></li>
        <li class="layer" data-depth="0.40"><img src="assets/404component/images/text-01.png"></li>
        <li class="layer" data-depth="0.10"><img src="assets/404component/images/monster-eyes-01.png"></li>
    </ul>
    <h1>Our Site is Underconstruction - 10 days to go</h1>
    <input type="text" class="form-control"><a href="#!" class="btn search">Search</a>
    <span>or</span>
    <a href="#!" class="btn">Back to home</a>
</div>

@code {

    protected override async Task OnAfterRenderAsync()
    {
        try
        {
             // var Result = await JsRuntime.InvokeAsync<bool>("dattaAble.notFoundComponentInit");
        }
        catch (Exception)
        {

            throw;
        }
    }
}
