﻿@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.EJ2.Blazor.Inputs

        <EditForm Model="@_validation" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                @*<label for="exampleInputEmail1">Email address</label>
            <InputText @bind-Value="@_validation.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />*@

                <EjsTextBox Placeholder="Email" @bind-Value="@_validation.Email" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                <small id="emailHelp" class="form-text text-muted">  <ValidationMessage For="@(() => @_validation.Email)" /></small>
            </div>
            <div class="form-group">
                @*<label for="exampleInputPassword1">Password</label>
            <InputText @bind-Value="@_validation.Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />*@

                <EjsTextBox Placeholder="Password" Type="password" @bind-Value="@_validation.Password" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                <small id="emailHelp" class="form-text text-muted">  <ValidationMessage For="@(() => @_validation.Password)" /></small>
            </div>
            <div class="form-group form-check">
                <InputCheckbox @bind-Value="@_validation.RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary col-12">Log In</button>
            <p><small>forgot password? <a href="resetpassword">reset it here.</a></small></p>
            <p><small>Dont have a account? <a href="register">sign up</a></small></p>
        </EditForm>


@code {

    [Parameter]
    public LogInValidationModel _validation { get; set; } = new LogInValidationModel();
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnValidCallback { get; set; }


    public void OnValidSubmit()
    {
        var click = new UIMouseEventArgs();
        OnValidCallback.InvokeAsync(click);
    }

    public void OnInvalidSubmit()
    {

    }
}
