﻿@using Speakmentorship.Infrastructure.Services;
@using SpeakMentoriship.Core.DTO.SpeakmentorshipDTO;
@inject GlobalStateChange globalState
@inject FirebaseJsService _firebaseJsService
<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light header-lightblue headerpos-fixed">
    <div class="m-header">
        <a @onclick="@MenuToggle" class="mobile-menu @((NavbarOpen)?"on":"")" style="z-index:@((NavbarOpen)?"10":"")" id="mobile-collapse1"><span></span></a>
        <a class="b-brand">
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
            <span class="b-title">SpeakMentorship</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a class="full-screen" onclick="toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            @*<li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="" data-toggle="dropdown">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#!">Action</a></li>
                        <li><a class="dropdown-item" href="#!">Another action</a></li>
                        <li><a class="dropdown-item" href="#!">Something else here</a></li>
                    </ul>
                </li>*@
            <li class="nav-item">
                <div class="main-search  @((SearchBoxToggle)?"open":"")">
                    <div class="input-group">
                        <input @bind-value="@SearchBoxValue" type="text" id="m-search" class="form-control" placeholder="Search . . ." style="width:@((SearchBoxToggle)?"150":"0")px;" />
                        <a @onclick="@(()=>SearchBoxToggle= false)" class="input-group-append search-close">
                            <i class="feather icon-x input-group-text"></i>
                        </a>
                        <span class="input-group-append search-btn btn btn-primary">
                            <i @onclick="@SearchToggle" class="feather icon-search input-group-text"></i>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @* Notification dropdown *@
            @*<li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                    <a href="" class="m-r-10">mark as read</a>
                                    <a href="">clear all</a>
                                </div>
                            </div>
                            <ul class="noti-body">
                                <li class="n-title">
                                    <p class="m-b-0">NEW</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="master-theme/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>New ticket Added</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="n-title">
                                    <p class="m-b-0">EARLIER</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="master-theme/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>Prchace New Theme and make payment</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="master-theme/assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>currently login</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="noti-footer">
                                <a href="">show all</a>
                            </div>
                        </div>
                    </div>
                </li>*@
            @* Mail notifications *@
            @*<li><a href="#!" class="displayChatbox"><i class="icon feather icon-mail"></i></a></li>*@
            <li>
                @if (isUserSignIn)
                {
                    <div class="dropdown drp-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-cog"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="@((_user.PhotoUrl!=null)?_user.PhotoUrl:"master-theme/assets/images/user/avatar-1.jpg")" class="img-radius" alt="User-Profile-Image">
                                <span>@_user.DisplayName</span>
                                <a @onclick="@Logout" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            @*<ul class="pro-body">
                                    <li><a href="" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
                                    <li><a href="user-profile.html" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                                    <li><a href="email-inbox.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
                                </ul>*@
                        </div>
                    </div>
                }
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->

@code {

    [Parameter]
    public EventCallback<EventArgs> NavMenuToggle { get; set; }
    [Parameter]
    public EventCallback<string> Search { get; set; }
    [Parameter]
    public string SearchBoxValue { get; set; } = string.Empty;
    [Parameter]
    public bool NavbarOpen { get; set; } = false;

    private BaseUser _user { get; set; }
    public bool isUserSignIn { get; set; } = false;

    private bool SearchBoxToggle { get; set; } = false;

    private bool IsLoggedIn { get; set; } = false;

    protected override void OnInitialized()
    {

        globalState.StateHasChanged += stateChange;
    }


     protected override async Task OnInitializedAsync()
    {

        try
        {
            isUserSignIn = await _firebaseJsService.IsSignIn();
            if (isUserSignIn)
            {
                _user = await _firebaseJsService.GetCurrentUser();
            }
        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }
    }


    private async void stateChange(object sender, EventArgs args)
    {
        try
        {
            isUserSignIn = await _firebaseJsService.IsSignIn();
            if (isUserSignIn)
            {
                _user = await _firebaseJsService.GetCurrentUser();
            }
        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }
        base.StateHasChanged();
    }


    public async Task Logout()
    {
        var result = await _firebaseJsService.LogOut();
    }
    public void SearchToggle()
    {
        if (SearchBoxToggle)
        {
            Search.InvokeAsync(SearchBoxValue);
            SearchBoxToggle = false;
            SearchBoxValue = string.Empty;
        }
        else
        {
            SearchBoxToggle = !SearchBoxToggle;
        }
    }

    public void MenuToggle()
    {
        NavbarOpen = true;
        NavMenuToggle.InvokeAsync(new EventArgs());
    }

}
