﻿@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.EJ2.Blazor.Inputs
    <div class="row justify-content-center">

        @if (_viewToShow == ResetPasswordViewSelection.RequestPasswordReset)
        {
            @* User enters email and request password *@
            <div class=" col-xs-10 col-sm-8 col-md-6">
                <EditForm Model="@_validation" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        @*<label for="exampleInputEmail1">Email address</label>
                        <InputText @bind-Value="@_validation.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />*@

                        <EjsTextBox Placeholder="Email" @bind-Value="@_validation.Email" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                        <small id="emailHelp" class="form-text text-muted">  <ValidationMessage For="@(() => @_validation.Email)" /></small>
                    </div>
                    <button type="submit" class="btn btn-primary col-12" @onclick="@RequestPasswordReset">Request Password Reset</button>
                </EditForm>
            </div>

        } else if (_viewToShow == ResetPasswordViewSelection.EmailSent)
        {
            @* Email sent confirmation  *@
            <div class=" col-xs-10 col-sm-8 col-md-6">
               <h4>Check your email!</h4>
                <p>A confirmation link to change you password was sent to the email on your account.</p>
            </div>
        } else if (_viewToShow == ResetPasswordViewSelection.PasswordChange)
        {
            @* User click on link and gets prompt to enter new password && also shows proper view when link is bad *@
            <div class=" col-xs-10 col-sm-8 col-md-6">
                <EditForm Model="@_validationnewPassword" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group ">
                        @*<label for="inputPassword">Password</label>
            <InputText @bind-Value="@_validation.Password" type="password" class="form-control" id="inputPassword" placeholder="Password" />*@

                        <EjsTextBox Placeholder="Password" Type="password" @bind-Value="@_validationnewPassword.Password" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>

                        <ValidationMessage For="@(() => _validationnewPassword.Password)" />
                    </div>


                    <div class="form-group ">
                        @*<label for="inputConfirmPassword">Confirm Password</label>
            <InputText @bind-Value="@_validation.ConfirmPassword" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" />*@

                        <EjsTextBox Placeholder="Confirm Password" @bind-Value="@_validationnewPassword.ConfirmPassword" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>

                        <ValidationMessage For="@(() => _validationnewPassword.ConfirmPassword)" />
                    </div>
                    <button type="submit" class="btn btn-primary col-12">Update Password</button>
                </EditForm>
            </div>
        } else if (_viewToShow == ResetPasswordViewSelection.PasswordConfirmation)
        {

            @* password change confirmation  *@
    <div class=" col-xs-10 col-sm-8 col-md-6">
        <div class=" col-xs-10 col-sm-8 col-md-6">
            <h4>Password Updated!</h4>
            <p>Your password was update it, now you can log in with your new password.</p>
            <button class="btn btn-primary border-curve" ></button>
        </div>
    </div>
        }
    </div>
@code {
    private ResetPasswordValidation _validation { get; set; } = new ResetPasswordValidation();
    [Parameter]
    protected ResetPasswordViewSelection _viewToShow { get; set; } = ResetPasswordViewSelection.RequestPasswordReset;
    [Parameter]
    protected NewPasswordValidation _validationnewPassword { get; set; } = new NewPasswordValidation();

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
    [Parameter]
    public EventCallback OnInvalidSubmit { get; set; }
    [Parameter]
    public EventCallback LogInCallback { get; set; }


    public void RequestPasswordReset()
    {
        //send password request link


        //show email sent confirmation
        _viewToShow = ResetPasswordViewSelection.EmailSent;
        //base.InvokeAsync(StateHasChanged);
    }

    public void OnValid()
    {
        var click = new UIMouseEventArgs();
        OnValidSubmit.InvokeAsync(click);
    }
    public void OnInvalid()
    {
        var click = new UIMouseEventArgs();
        OnInvalidSubmit.InvokeAsync(click);
    }

}
