﻿@* This is the Layout template to implement DattaAble Layout-8 into Blazor *@
@inherits LayoutComponentBase

<NavMenuComponent></NavMenuComponent>


<MainContainerComponent>
    @Body
</MainContainerComponent>

@code {

}
