﻿@inherits LayoutComponentBase



    <div class="wrapper">
        <!-- Sidebar  -->
        @*<SideNavMenu></SideNavMenu>*@
        <NavMenuComponent></NavMenuComponent>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-light bg-light justify-content-end px-3">
               
                <form class="form-inline">
                    <input class="form-control mr-sm-2 border-curve" type="search" placeholder="Search" aria-label="Search">
                    <a class="btn btn-outline-success my-2 my-sm-0 border-curve" href="mentors">Search</a>
                </form>
            </nav>
            @Body
        </div>
    </div>


@code{

}