﻿<CascadingAuthenticationState>

        <Router AppAssembly="typeof(Startup).Assembly">
            <NotFoundContent>
                <_404Component></_404Component>
            </NotFoundContent>
        </Router>

</CascadingAuthenticationState>
