﻿

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-12 py-3">
                    <img style="max-height: 170px!important;" src="https://cdn.vox-cdn.com/thumbor/5y-QEvJ5WY0boi377-i2qOex7H4=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/65018214/acastro_181017_1777_brain_ai_0002.0.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary col-12">Request Mentor</button>
                </div>
            </div>
            <div class="col">
                <div class="col-12">
                    <h5>Artificial Intelligence</h5>
                </div>
                <div class="col-12">
                    <p>This course covers everything related to Artificial Intelligence.</p>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-4 col-md-2">
                            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" class="img-fluid" style="max-height:65px;" alt="Responsive image">
                        </div>
                        <div class="col">
                            <div class="col-12">
                                <h6>Lorenzo Hal</h6>
                            </div>
                            <div class="col-12">
                                <p>University of California</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col">
                            <div class="container">
                                <span id="rateMe1"></span>
                            </div> <a><strong>|</strong> </a>  <a><strong>74k</strong> students</a>
                        </div>
                        
                    </div>
                </div>


            </div>
        </div>

    </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>

@code {

}
