﻿<div class="card Application-list">
    <div class="card-block pb-0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mentor</th>
                        <th>Session</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="rounded-circle" style="width:50px;" src="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg" alt="activity-user"></td>
                        <td>
                            <h6 class="mb-1">Facebook</h6>
                            <p class="m-0">Apple</p>
                        </td>
                      
                        <td>
                            <h6 class="m-b-0">Feb 11 2017</h6>
                        </td>
                       
                        <td><span class="badge badge-pill badge-primary">Upcomming</span></td>
                    </tr>

                    <tr>
                        <td><img class="rounded-circle" style="width:50px;" src="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg" alt="activity-user"></td>
                        <td>
                            <h6 class="mb-1">Twitter</h6>
                            <p class="m-0">CS Form</p>
                        </td>
                       
                        <td>
                            <h6 class="m-b-0">Jan 19 2017</h6>
                        </td>
                       
                        <td> <span class="badge badge-pill badge-danger">Missed</span></td>
                    </tr>

                    <tr>
                        <td><img class="rounded-circle" style="width:50px;" src="https://userdefenders.com/wp-content/uploads/2019/01/Snapback-Hat-Model-324x324.jpg" alt="activity-user"></td>
                        <td>
                            <h6 class="mb-1">Instagram</h6>
                            <p class="m-0">Microsoft</p>
                        </td>
                       
                        <td>
                            <h6 class="m-b-0">Aug 04 2017</h6>
                        </td>
                      
                        <td><span class="badge badge-pill badge-success">Attended</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{

}