﻿@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@using SpeakMentoriship.Core.DTO.SpeakmentorshipDTO
@inject IJSRuntime JsRuntime;
<!-- Sidebar  -->
<nav id="sidebar" class="@_active">
    <div class="sidebar-header">
        <h3 @onclick="@ToggleNavbar" style="cursor:pointer;">Speakmentorship</h3>
        <strong @onclick="@ToggleNavbar" style="cursor:pointer;">S <i class="fas fa-caret-right"></i></strong>
    </div>

    <ul id="ul" class="list-unstyled components">
        @if (user!=null)
        {
            <li class="nav-item ">
                <NavLink class="nav-link" href="/">@user.DisplayName </NavLink>
            </li>
        }
        <li class="nav-item ">
            <NavLink class="nav-link" href="mentors">Match </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="chats">Mentorship</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="request">Request</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="request/student">Request(MentorPointOfView)</NavLink>
        </li>
        @*<li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                About
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>*@
        <li class="p-3">

            <a id="btn-active" class="btn  col @_active text-center border-curve" style="background: rgb(255, 255, 255); color: #01d24b;" href="login">Log In</a>
            <a id="btn-inactive" class="btn col @_active m-0 p-0 py-2 border-curve" style="    background: rgb(255, 255, 255); color: #01d24b;" href="login"><i class="fas fa-sign-in-alt m-0" style="    font-size: 1.5em!important;"></i></a>
        </li>
    </ul>

</nav>



@code {
    private string _active { get; set; } = "active";
    private UserSessionState user { get; set; }
    protected override async void OnAfterRender()
    {
        //user = await GetUser();
    }

    public async Task<UserSessionState> GetUser()
    {
        return await JsRuntime.InvokeAsync<UserSessionState>("exampleJsFunctions.firebaseGetCurrentuser");


    }

    public void ToggleNavbar()
    {
        if (_active == "")
        {
            _active = "active";
        }
        else
        {
            _active = "";
        }
    }
}


<style>

        @@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

        body {
            font-family: 'Poppins', sans-serif;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        i,
        span {
            display: inline-block;
        }

        /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

        .wrapper {
            display: flex;
            align-items: stretch;
        }

        #sidebar {
            min-width: 300px;
            max-width: 450px;
            background: #01d24b;
            color: #fff;
            transition: all 0.3s;
        }

            #sidebar.active {
                min-width: 90px;
                max-width: 90px;
                text-align: center;
            }

                #sidebar.active .sidebar-header h3,
                #sidebar.active .CTAs {
                    display: none;
                }

                #sidebar.active .sidebar-header strong {
                    display: block;
                }

            #sidebar ul li a {
                text-align: left;
            }

        #btn-inactive {
            display: none !important;
        }

        #btn-active.active {
            display: none !important;
        }

        #btn-inactive.active {
            display: block !important;
        }

        #btn-active {
            display: block !important;
        }



        #sidebar.active ul li a {
            padding: 20px 10px;
            text-align: center;
            font-size: 0.85em;
        }

            #sidebar.active ul li a i {
                margin-right: 0;
                display: block;
                font-size: 1.8em;
            }

        #sidebar.active ul ul a {
            padding: 10px !important;
        }

        #sidebar.active .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #2dda6a;
        }

            #sidebar .sidebar-header strong {
                display: none;
                font-size: 1.8em;
            }

        #sidebar ul.components {
            padding: 20px 0;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

            #sidebar ul li a:hover {
                color: #7386D5;
                background: #fff;
            }

            #sidebar ul li a i {
                margin-right: 10px;
            }

        #sidebar ul li.active > a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        #ul #ul #a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }

        ul.CTAs {
            padding: 20px;
        }

            ul.CTAs a {
                text-align: center;
                font-size: 0.9em !important;
                display: block;
                border-radius: 5px;
                margin-bottom: 5px;
            }

        a.download {
            background: #fff;
            color: #7386D5;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }

        /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */

        @@media (max-width: 768px) {
            #sidebar {
                min-width: 90px;
                max-width: 90px;
                text-align: center;
                margin-left: -80px !important;
            }

            .dropdown-toggle::after {
                top: auto;
                bottom: 10px;
                right: 50%;
                -webkit-transform: translateX(50%);
                -ms-transform: translateX(50%);
                transform: translateX(50%);
            }

            #sidebar.active {
                margin-left: 0 !important;
            }



            #sidebar .sidebar-header h3,
            #sidebar .CTAs {
                display: none;
            }

            #sidebar .sidebar-header strong {
                display: block;
            }

            #sidebar ul li a {
                padding: 20px 10px;
            }

                #sidebar ul li a span {
                    font-size: 0.85em;
                }

                #sidebar ul li a i {
                    margin-right: 0;
                    display: block;
                }

            #sidebar ul ul a {
                padding: 10px !important;
            }

            #sidebar ul li a i {
                font-size: 1.3em;
            }

            #sidebar {
                margin-left: 0;
            }

            #sidebarCollapse span {
                display: none;
            }
        }
</style>

