﻿@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.EJ2.Blazor.Inputs

    <EditForm Model="@_validation" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="auth-wrapper">
            <div class="auth-content">
                <div class="auth-bg">
                    <span class="r"></span>
                    <span class="r s"></span>
                    <span class="r s"></span>
                    <span class="r"></span>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <div class="mb-4">
                            <i class="feather icon-unlock auth-icon"></i>
                        </div>
                        <h3 class="mb-4">Login</h3>
                        <div class="input-group mb-3">
                            <InputText @bind-Value="@_validation.Email" type="email" class="form-control" placeholder="Email" />
                            <ValidationMessage For="@(() => @_validation.Email)" />
                        </div>
                        <div class="input-group mb-4">
                            <InputText @bind-Value="@_validation.Password" type="password" class="form-control" placeholder="password" />
                            <ValidationMessage For="@(() => @_validation.Password)" />
                        </div>
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <InputCheckbox @bind-Value="@_validation.RememberMe" type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />

                                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Login</button>
                        <p class="mb-2 text-muted">Forgot password? <a href="resetpassword">Reset</a></p>
                        <p class="mb-0 text-muted">Don’t have an account? <a href="register">Signup</a></p>
                        <div class="col-12 text-center">
                            <p>Or you can sign in using...</p>
                            <button type="button" @onclick="@(()=>ThirdPartyLogInCallback.InvokeAsync("google"))" class="btn btn-danger border-curve" ><i class="fab fa-google"></i> Google </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>


@code {

    [Parameter]
    public LogInFormValidationModel _validation { get; set; } = new LogInFormValidationModel();
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnValidCallback { get; set; }

      [Parameter]
    public EventCallback<string> ThirdPartyLogInCallback { get; set; }


    public void OnValidSubmit()
    {
        var click = new UIMouseEventArgs();
        OnValidCallback.InvokeAsync(click);
    }

    public void OnInvalidSubmit()
    {

    }
}