﻿<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="fisrtName">First Name</label>
            <input class="form-control" id="fisrtName" type="text" placeholder="William">
        </div>
        <div class="form-group col-md-6">
            <label for="fisrtLast">First Last</label>
            <input class="form-control" id="fisrtLast" type="text" placeholder="Smith">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input class="form-control" id="inputEmail4" type="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input class="form-control" id="inputPassword4" type="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input class="form-control" id="inputAddress" type="text" placeholder="1234 Main St">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input class="form-control" id="inputAddress2" type="text" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input class="form-control" id="inputCity" type="text">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select class="form-control" id="inputState">
                <option selected>select</option>
                <option>Large select</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input class="form-control" id="inputZip" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" id="gridCheck" type="checkbox">
            <label class="form-check-label" for="gridCheck">Check me out</label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign in</button>
</form>
@code {

}
