﻿@using SpeakMentorship.ComponentLibrary.Components.Card


@foreach (BootstrapCardModel card in Cards.Cards)
{
    <BootstrapCard OnReject="OnReject"  OnPass="OnPass"  OnAccept="OnAccept"  OnRequest="OnRequest" _cardModel="card" OnMentorshipCancel="OnMentorshipCancel"></BootstrapCard>
}



@code {
    [Parameter]
    public CardListModel Cards { get; set; }
      [Parameter]
    public EventCallback<UIMouseEventArgs> OnReject { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnPass { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnAccept { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnRequest { get; set; }
        [Parameter]
    public EventCallback<UIMouseEventArgs> OnMentorshipCancel { get; set; }
}
