﻿@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime;


<button @onclick="@FireAlert">Click me</button>
@code {
    [Parameter]
    public SweetAlertOption alertOption { get; set; } = new SweetAlertOption { 
        Title = "This is a title",
    Text ="This is a description",
    Type = "success",
    ShowCancelButton =true,
    ConfirmButtontext = "Yes",
    CancelButtonText ="cancel me"
    };

    public async void FireAlert()
    {
        var result = await JsRuntime.InvokeAsync<string>("exampleJsFunctions.sweetAlert",
                                               alertOption.Title,
                                               alertOption.Text,
                                                alertOption.Type,
                                                alertOption.ShowCancelButton,
                                                alertOption.ConfirmButtontext,
                                                alertOption.CancelButtonText);
    }

}
