﻿@using SpeakMentorship.ComponentLibrary.DattaAbleComponents.Layout_8.Header
@using Speakmentorship.Infrastructure.Services;
@using Microsoft.AspNetCore.Components.Routing
@inject GlobalStateChange globalState
@inject FirebaseJsService _firebaseJsService
@inject IUriHelper UriHelper
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light brand-lightblue active-lightblue @(NavbarCollapsed?"navbar-collapsed":"")  @(NavbarOpen?"mob-open":"" ) ">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">SpeakMentorship</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" @onclick="@(()=>NavbarCollapsed= !NavbarCollapsed )"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            @if (isUserSignIn)
            {
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="" class="nav-item">
                        <NavLink href="/" Match="NavLinkMatch.All" class="nav-link"><span class="pcoded-micon"><i class="fas fa-home"></i></span><span class="pcoded-mtext">Home</span></NavLink>
                    </li>


                    @*<li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Menu levels</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="" class="">Menu Level 2.1</a></li>
                        <li class="pcoded-hasmenu">
                            <a href="#!" class="">Menu level 2.2</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="" class="">Menu level 3.1</a></li>
                                <li class=""><a href="" class="">Menu level 3.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>*@
                    <li data-username="Matches" Match="NavLinkMatch.Prefix" class="nav-item"><NavLink href="mentors" Match="NavLinkMatch.Prefix" class="nav-link"><span class="pcoded-micon"><i class="fas fa-users"></i></span><span class="pcoded-mtext">Match</span></NavLink></li>
                    <li data-username="Matches" Match="NavLinkMatch.Prefix" class="nav-item"><NavLink href="mentorship" Match="NavLinkMatch.Prefix" class="nav-link"><span class="pcoded-micon"><i class="fas fa-users"></i></span><span class="pcoded-mtext">Mentorship</span></NavLink></li>
                    <li data-username="Matches" Match="NavLinkMatch.Prefix" class="nav-item"><NavLink href="request" Match="NavLinkMatch.Prefix" class="nav-item"><span class="pcoded-micon"><i class="fas fa-stream"></i></span><span class="pcoded-mtext">Request</span></NavLink></li>

                    @*<li data-username="Sample Page" class="nav-item active"><a href="sample-page.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>*@

                    @*<li class="nav-item pcoded-menu-caption">
                    <label>Acount</label>
                </li>
                <li data-username="Settings" class="nav-item"><a href="/settings" class="nav-link" target="_blank"><span class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Documentation</span></a></li>
                <li data-username="Need Support" class="nav-item">
                    <a href="https://codedthemes.support-hub.io/" class="nav-link" target="_blank">
                        <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">
                            Need
                            support ?
                        </span>
                    </a>
                </li>*@
                </ul>
            }
            else
            {
        <ul class="nav pcoded-inner-navbar">
            <div class="p-2">
                <a href="login" class="btn btn-primary col text-white">Log In</a>
            </div>
            <div class="p-2">
                <a href="register" class="btn btn-primary col text-white">Sign Up</a>
            </div>
        </ul>
             
            }


        </div>
    </div>

</nav>

<HeaderComponent NavMenuToggle="@ToggleNavMenu" Search="@SearchFor" NavbarOpen="@NavbarOpen"></HeaderComponent>
<!-- [ navigation menu ] end -->

@code {
    //Navbar collapse, navbar-open a

    [Parameter]
    public bool NavbarCollapsed { get; set; } = false;

        private bool isUserSignIn { get; set; } = false;
    public bool NavbarOpen { get; set; } = false;

        protected override void OnInitialized()
    {

        globalState.StateHasChanged +=  stateChange;
    }
        protected override async Task OnInitializedAsync()
    {

        try
        {
            isUserSignIn = await _firebaseJsService.IsSignIn();
        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }
    }


    private async void stateChange(object sender, EventArgs args)
    {
     try
        {
            isUserSignIn = await _firebaseJsService.IsSignIn();
        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }
        base.StateHasChanged();
    }

    public void ToggleNavMenu()
    {
        NavbarCollapsed = false;
        NavbarOpen = !NavbarOpen;
    }

    public void SearchFor(string query)
    {
        Console.WriteLine(query);
        UriHelper.NavigateTo("search/" + query);
    }
}
