﻿@page "/videochat/{room}"

    <div class="container">
        <TokboxVideoChat EmbedId="b37ce341-7384-4455-812d-a6295b6f14cc" RoomId="@room" iFrame="true"></TokboxVideoChat>
    </div>

    @*<VidoeChatRoomComponent>
        <TokboxVideoChat EmbedId="b37ce341-7384-4455-812d-a6295b6f14cc" RoomId="@room" iFrame="true"></TokboxVideoChat>
    </VidoeChatRoomComponent>*@
@code {
    [Parameter]
    public string room { get; set; } = "DEFAULT_ROOM";


}
