﻿@using SpeakMentorship.ComponentLibrary.Components.Register
@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.DropDowns
@using Syncfusion.EJ2.Blazor.Calendars
@using Syncfusion.EJ2.Blazor.Inputs

<div class="row justify-content-center">
    <div class=" col-xs-10 col-sm-8 col-md-6">

        <EditForm Model="@_validation" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                @*<label for="FirstName">First Name</label>*@
                <div class="">
                    <EjsTextBox   Placeholder="First Name" @bind-Value="@_validation.FirstName" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                </div>
                @*<InputText @bind-Value="@_validation.FirstName" type="text" class="form-control" id="FirstName" placeholder="William" />*@
                <ValidationMessage For="@(() => @_validation.FirstName)" />
            </div>
            <div class="form-group">
                @*<label for="LastName">LastName</label>
            <InputText @bind-Value="@_validation.LastName" type="text" class="form-control" id="LastName" placeholder="Smith" />*@
                <div class="">
                    <EjsTextBox Placeholder="Last Name" @bind-Value="@_validation.LastName" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                </div>
                <ValidationMessage For="@(() => @_validation.LastName)" />
            </div>
            <div class="form-group ">

                <label for="Gender" class="text-muted">Gender</label>
                <EjsDropDownList TValue="string" @bind-Value="@_validation.Gender" ModelType="@genders" Placeholder="Select gender" DataSource="@genders">
                    <DropDownListTemplates>

                    </DropDownListTemplates>
                </EjsDropDownList>
                @*<InputSelect id="Gender" @bind-Value="@_validation.Gender" class="form-control">
                    <option selected>Choose...</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </InputSelect>*@
                <ValidationMessage For="@(() => @_validation.Gender)" />
            </div>
            <div class="form-group ">
                <label for="Gender"  class="text-muted">Date of Birth</label>
                <div class="control-section">
                    <div id="wrapper" class="datepicker-section">
                        <div id="datepicker-control">
                            <EjsDatePicker @bind-Value="@_validation.Age" Placeholder="Choose a Date"></EjsDatePicker>
                        </div>
                    </div>
                </div>
                <ValidationMessage For="@(() => @_validation.Age)" />
            </div>
            <div class="form-group ">
                <label for="role"  class="text-muted">Choose a role:</label>
                <EjsDropDownList TValue="string" @bind-Value="@_validation.Role" ModelType="@roles" Placeholder="Select a role" DataSource="@roles">
                    <DropDownListTemplates>

                    </DropDownListTemplates>
                </EjsDropDownList>
                <ValidationMessage For="@(() => @_validation.Role)" />
            </div>
            <div class="form-group ">
                <label for="interest"  class="text-muted">Interest:</label>
           
                    <EjsMultiSelect Width="150px" @bind-Value="_validation.Interest" TValue="@string[]" Mode="@VisualMode.Box" Placeholder="Choose a interest..." DataSource="@interest">
                        <MultiSelectFieldSettings Text="Text" Value="ID"></MultiSelectFieldSettings>
                    </EjsMultiSelect>
               

                <ValidationMessage For="@(() => @_validation.Interest)" />
            </div>
            
                <div class="form-group ">
                    @*<label for="Email">Email</label>
                <InputText @bind-Value="@_validation.Email" type="email" class="form-control" id="Email" placeholder="Email" />*@
                
                        <EjsTextBox Placeholder="Email" @bind-Value="@_validation.Email" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                   
                    <ValidationMessage For="@(() => @_validation.Email)" />
                </div>

                <div class="form-group ">
                    @*<label for="inputPassword">Password</label>
                <InputText @bind-Value="@_validation.Password" type="password" class="form-control" id="inputPassword" placeholder="Password" />*@
                
                        <EjsTextBox Placeholder="Password" Type="password" @bind-Value="@_validation.Password" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
           
                    <ValidationMessage For="@(() => @_validation.Password)" />
                </div>
            
         
                <div class="form-group ">
                    @*<label for="inputConfirmPassword">Confirm Password</label>
                <InputText @bind-Value="@_validation.ConfirmPassword" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" />*@
                  
                        <EjsTextBox Placeholder="Confirm Password" Type="password" @bind-Value="@_validation.ConfirmPassword" FloatLabelType="@FloatLabelType.Auto"></EjsTextBox>
                
                    <ValidationMessage For="@(() => @_validation.ConfirmPassword)" />
                </div>
        
            <button type="submit" class="btn btn-primary col-12">Create Account</button>
            <p class="p-3"><small>Already have a account? <a href="login">log in</a></small></p>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public RegisterValidationModel _validation { get; set; } = new RegisterValidationModel();
    public string[] interestSelected { get; set; }
    [Parameter]
    public EventCallback<UIMouseEventArgs> OnValidCallback { get; set; }

    public void OnValidSubmit()
    {
        var click = new UIMouseEventArgs();
        OnValidCallback.InvokeAsync(click);
    }

    public void OnInvalidSubmit()
    {

    }

    public class Interest
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    private List<Interest> interest = new List<Interest>()
{
        new Interest(){ ID= "1", Text= "JavaScript" },
        new Interest(){ ID= "2", Text= "Blazor" },
        new Interest(){ ID= "3", Text= ".Net" },
        new Interest(){ ID= "4", Text= "Angular" },
        new Interest(){ ID= "5", Text= "Flutter" }
    };
    private string[] roles { get; set; } = {
        "Mentor",
        "Mentee"};

     private string[] genders { get; set; } = {
        "Male",
        "Female"};
}

